{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}
    Food Composition - Determine fats, carbohydrates and protein percentage content in food by image
{% endblock %}

{% block body %}

    <img src="{{ image }}" class="img-fluid rounded" style="margin-bottom: 5px" name="uploaded_image">

    {% if nutrients_percentage|length>0 or invalidlabel %}
        <p style="padding-top: 5pt">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            What's on the image
            </button>
        </p>
        <div class="collapse{% if invalidlabel %}.show{% endif %}" id="collapseExample">
            <div class="card card-body">

                {% if not invalidlabel %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Label</th>
                                <th scope="col">Food Product</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for label in labels %}
                                <tr>
                                    <td>
                                        {{ label }}
                                    </td>
                                    <td>
                                        {% for food_item in nutrionix_data[label] %}
                                            <a href="https://www.nutritionix.com/food/{{ food_item[1] }}">{{ food_item[1] }}</a>
                                            <br>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if invalidlabel %}
                    <h4>
                        <strong>
                            Failed to find any food products for <i>{% for label in labels %}{{ label }}{% endfor %}</i>. <br>Maybe you'll provide another label?
                        </strong>
                    </h4>
                {% else %}
                    <span class="lead">
                        <strong>
                            Incorrect labels? Please provide a better variant:
                        </strong>
                    </span>
                {% endif %}

                <form role="form" action="/" method="POST">
                    <dl>
                        {{ customlabelform.csrf_token }}
                        {{ render_field(customlabelform.customlabel) }}
                        {{ customlabelform.labelsubmit(class_="btn btn-primary") }}
                    </dl>
                </form>
                <br>
            </div>
        </div>

        {% if not invalidlabel %}
            <!-- Plot.ly chart -->
            {% for id in ids %}
                <div id="{{id}}"></div>
            {% endfor %}

            <!-- For some reason charts fail to draw when uploading plotly js and/or the following script via layout.html template file-->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
              <!-- D3.js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
              <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <!-- Plotly.js -->
            <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>
            <script type="text/javascript">
                var graphs = {{graphJSON | safe}};
                var ids = {{ids | safe}};
                for(var i in graphs) {
                    Plotly.plot(ids[i], // the ID of the div, created above
                                graphs[i].data,
                                graphs[i].layout || {});
                }
            </script>
            <!-- Plot.ly chart END -->
        {% endif %}
    {% endif %}

    <!-- Image upload/paste URL form -->
    <div id="exampleAccordion" data-children=".item">
        <div class="item">
            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" role="button" aria-expanded="false" aria-controls="exampleAccordion2">
                <strong>
                    Paste image URL
                </strong>
            </a>
            or
            <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" role="button" aria-expanded="true" aria-controls="exampleAccordion1">
                <strong>
                    Upload image
                </strong>
            </a>
            <div id="exampleAccordion1" class="collapse" role="tabpanel">
                <p class="mb-3">
                    <form role="form" action="/" method="POST" enctype="multipart/form-data">
                        <dl>
                            {{ imageuploadform.csrf_token }}
                            {{ render_field(imageuploadform.image_file) }}
                            {{ imageuploadform.imagesubmit(class_="btn btn-primary") }}
                        </dl>
                    </form>
                </p>
            </div>
        </div>
        <div class="item">
            <div id="exampleAccordion2" class="collapse show" role="tabpanel">
                <p class="mb-3">
                    <form role = "form" action = "/" method = "POST">
                        <dl>
                            {{photourlform.csrf_token}}
                            {{render_field(photourlform.image_link)}}
                            {{photourlform.image_link_submit(class_="btn btn-primary")}}
                        </dl>
                    </form>
                </p>
            </div>
        </div>
    </div>
    <!-- Image upload/paste URL form END -->

{% endblock %}