{% extends "layout.html" %}
{% from '_formhelpers.html' import render_field %}

{% block title %}
    Food Contents - Determine fats, carbohydrates and protein percentage content in food by image
{% endblock %}



{% block body %}
        <h1 class="display-4">Food Contents (v.0.2)</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-2">
                    <span>Determine</span>
                </div>
                <div class="col-8">
                    <select class="custom-select">
                        <option value="1" selected="selected">relative content of fats, carbohydrates and proteins in food</option>
                        <option value="2">energy value of food</option>
                        <option value="3">if food is 'healthy'</option>
                    </select>
                </div>
                <div class="col-2">
                    <span>by image</span>
                </div>
            </div>
        </div>


<div>
    <form role="form" action="/" method="POST">
        <dl>
            {{ photourlform.csrf_token }}
            {{ render_field(photourlform.image_link) }}
            {{ photourlform.image_link_submit(class_="btn btn-primary") }}
        </dl>
    </form>
</div>


{% endblock %}